{% extends 'base.html' %}
{% block content %}
<ul>
    {% for p in posts %}
        <li>
            <div class="article__panel">
                <p class="role">Role: {{p.role}}</p>
                <p class="date">Time create: {{p.time_update|date:"d-m-Y H:i:s"}}</p>
            </div>
            <div class="content__main">
                <div class="content__image">
                    {% if p.photo %}
                        <p class="image__rocker"><img class="article__image" src="{{p.photo.url}}"></p>
                    {% endif %}
                </div>
                <div class="content__text">
                    <h2>{{p.name}}</h2>
                    <p class="article">{{p.content|linebreaks|truncatewords:50}}</p>
                </div>
            </div>
            <p class="link-read-post"><a href="{{p.get_absolute_url}}">Read an article</a></p>
            <hr>
        </li>
    {% endfor %}
</ul>
{% endblock %}